<div class="row" *ngIf="!resultActive">
    <div class="col-xs-8">
        <h2>Progress:</h2>
        <div class="btn-toolbar">
            <button class="btn" [ngClass]="{'btn-info': question.selected, 'btn-danger': !question.selected}" *ngFor="let question of questions">
                <span class="glyphicon" [ngClass]="{'glyphicon-pencil': question.selected, 'glyphicon-question-sign': !question.selected}">
                </span>
            </button>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <h4>Legend:</h4>
            <div class="col-sm-4">
                <button class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <p>Answered</p>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </button>
                <p>Unanswered</p>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="n == questions.length; then showAnswer; else showQuestions"></div>

<ng-template #showQuestions>
    <h3>Questions: {{ (n+1) }}/{{questions.length}}</h3>
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-12">
                <h4>{{ questions[n]['question'] }}</h4>
                <div class="row">
                    <div class="col-sm-6" *ngFor="let answer of current; let i = index">
                        <h4 class="answer" (click)="onClick(i)" [ngClass]="{'bg-success': clicked && answered == (i)}">
                            {{answer}}
                        </h4>
                    </div>
                    <button class="btn btn-success" *ngIf="n != questions.length" (click)="next()">Next</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #showAnswer>
    <div class="row" *ngIf="!resultActive">
        <button class="btn btn-success" (click)="show()">Show answer</button>
    </div>
</ng-template>

<div class="row" *ngIf="resultActive">
    <app-result [results]="results"></app-result>
</div>
